@model FlowerStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Produkty";
    //Layout = "../Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    @foreach (var item in Model.Products) {
       Html.RenderPartial("ProductSummary", item);
    }



<div class="pager">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new{page = x}))</div>
